.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    .modal {
      background-color: aliceblue;
      width: 40%;
      min-width: 600px;
      padding: 2rem;
      border: 5px solid #251532;
      z-index: 999;
      h2 {
        padding: 1rem 0;
      }
      form {
        .infors-input {
          .optionName {
              display: flex;
              align-content: center;
              justify-content: space-between;
          }
          margin-bottom: 1rem;
          .validPatient {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            input {
              height: auto;
              min-width: 250px;
            }
          }
          .anonyPatient {
            label {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }